* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

body {
    font-family: 'Circular Std', sans-serif;
    color: white;
    font-size: 30px;
}

main {
    height: 90vh; 
}

footer {
    height: 10vh;
    background-color: gray;
}

#left-menu {
    width: 15%;
    height: 100%;
    background-color: black;
}

.music-card {
    width: calc(100% / 6);
    text-align: center;
}

.playlist-logo > img {
    width: 70%;
}

span {
    font-size: 13px;
}

#main-app {
    width: 85%;
    height: 100%;
}

#upgrade {
    height: 10%;
    background-color: blue;
    text-align: right;
}

#playlists {
    height: 90%;
}



#swipe-music-sections {
    height: 5%;
    background-color: blueviolet;
    text-align: center;
}

#recently-played, #Jon-Doe-playlist, #popular-artists{
    height: calc(95% / 3);
    background-color: crimson;
    border: 1px solid black;
}

@media screen and (max-width: 1200px) {
    
}




