* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

body {
    font-family: 'Circular Std', sans-serif;
    color: white;
    font-size: 30px;
}

main {
    height: 90vh; 
}

footer {
    height: 10vh;
    background-color: gray;
}

#main-app {
    width: 80%;
    height: 100%;
    background-color: blue;
}

#left-menu {
    width: 20%;
    height: 100%;
    background-color: black;
}

