* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

body {
    font-family: 'Circular Std', sans-serif;
    color: white;
    font-size: 30px;
}

main {
    height: 90vh; 
}

footer {
    height: 10vh;
    background-color: gray;
}

#left-menu {
    width: 15%;
    height: 100%;
    background-color: black;
}

#playlists {
    height: 90%;
    overflow: auto;
    background-color: brown;
}

.playlist-container {
    width: 90%;
    margin: 50px auto;
}

.music-card {
    text-align: center;
    width: calc(100% / 6);
    margin-right: 15px;
}

#recently-played h5, #Jon-Doe-playlist h5, #popular-artists h5 {
    margin-bottom: 10px;
    padding-top: 5px;
}

.playlist-logo > img {
    width: 100%;
}

.song-info {
    line-height: 1rem;
    font-size: 1rem;
    margin-bottom: 10px;
}

#main-app {
    width: 85%;
    height: 100%;
}

#upgrade {
    height: 10%;
    background-color: blue;
    text-align: right;
}

#swipe-music-sections {
    height: 5%;
    background-color: blueviolet;
    text-align: center;
}

#popular-artists img {
    border-radius: 50%;
}






@media screen and (max-width: 1200px) {
    .cards-container {
    flex-wrap: wrap;
    }

    .music-card {
    width: calc(100% / 4);
    margin-bottom: 20px;
    margin-right: 0;
    }

    #playlists {
    overflow: auto;
    }

    .playlist-logo > img {
    flex-wrap: wrap;
    width: 75%;
    }

    .song-info span {        
    font-size: 0.7rem;
    }

    #left-menu {
        min-width: 180px;
    }
}




